@page "/"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<div class="search-box">
    <input @bind="query" @onkeydown="HandleKey" placeholder="Introduzca su búsqueda">
    <button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>
</div>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisiste decir <strong><a href="#" @onclick:preventDefault @onclick="() => SearchSuggestion(result.Suggestion)">@result.Suggestion</a></strong>?</p>
    </div>
}

@if (result.Count > 0) {
    <p class="result-count">@result.Count resultado(s) encontrado(s)</p>
}

<ul class="results">
@foreach (var item in result.Items()) {
    <li>
        <div class="item">
            <p class="title">@item.Title</p>
            <p>... @((MarkupString)item.Snippet) ...</p>
        </div>
    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery() {
        result = Moogle.Query(query);
    }

    private void HandleKey(KeyboardEventArgs e) {
        if (e.Key == "Enter") RunQuery();
    }

    private void SearchSuggestion(string suggestion) {
        query = suggestion;
        result = Moogle.Query(suggestion);
    }
}
